button {
   
  border: none;
  
  padding: 13px 28px;
}

body {
background-image: url(Bicis3.jpg) ;
background-repeat: no-repeat;
background-size: cover;
}


.nombre2{
	
	
	
	margin: 20px 20px;

		
}


.ellogo2{
	
	
 
  margin: 0px 575px;
	
	

		
}
.password2{

	
	margin: 20px 20px;
		
}

.registrar2{

	
	margin: 0px 50px;
		
}

.square2{
display: flex;
flex-direction: column;

margin: 150px 550px;
border: 0px solid black;
 width: 200px;
 height: 250px;
 padding: 25px;
background-color: white;

}