button {
   background-color: #AAF988 ;
  border: none;
  
  padding: 13px 28px;
  text-decoration: none;
  margin: 60px 612px;
  cursor: pointer;
}
label{
	display: flex;
	margin: 7px 612px;
}
body {
background-image: url(Bicis3.jpg) ;
background-repeat: no-repeat;
background-size: cover;
}
h1{
	color: #4DFF22  ;
  margin: 60px 612px;
}
.component {
  
}